<main class="">
    <article >
        <img src="assets/images/venice.jpg" class="img-fluid" alt="venice">
        <br>
        <br>
        <section class="container text-center">
            <h2>Experience the beauty of traveling like never before</h2>
            <br>
            <p>We offer a wider selection of custom destinations for you and your families! If it exists, we provide a
                way for you to have the most extravegant and beautifull journey of your life.</p>
        </section>
        <br>
        <br>
    </article>
</main>